


.outside-container {
    background-color: #0067B3;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-container{
    margin: 1rem;
    padding: 2rem;
    width: 700px;
    max-width: 700px;
    background-color: #FFD53D;
    font-size: 18px;
    box-shadow: 0 0 40px black(0, 0, 0, .2);
    border-radius: 4px;

}

/* Login Page */
.form-input:focus{
    border-color: blue;
    background-color: #D4F1F4;

}

.form-hidden{
    display: none;
}
/* .main-container,
.form-input,
.form-button {
    /* put font style here 500, 400, and bold */
#username{
    font-size: 1.5rem;
    }

#password{
    font-size: 1.5rem;
    }
.form-title{
    margin-bottom: 2rem;
    text-align: center;
    font-size: 50px;
}

.form-message{
    text-align: center;
    margin-bottom: 1rem;
}

.form-message-success{
    color: green;
}
.form-message-error{
    color: red;
}

.inputs{
    margin-bottom: 1rem;

}

.form-input{
    display:block;
    width: 100%;
    padding: 1rem;
    
    box-sizing: border-box;
    border-radius: 4px;
    border: rgb(238, 234, 234);
    outline: none;
    background:white(209, 224, 243);

}

.form-input-error{
    color: red;
    border-color: red;
}

.form-input-error-message{
    margin-top: 0 .5rem;
    font-size: .85rem;
    color: red;
    border: red;
}

.form-button{
    width: 100%;
    font-weight: bold;
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    background: #0000A3;
    margin-bottom: .6rem;
    margin-top: .6rem;
}
button:hover{
    background: #0067B3;
}
.form-button:active{
    transform: scale(0.98);
}
.form-text{
    text-align: center;
}
.create-link{
    color: blue;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.3rem;
    
}
.create-link:hover{
    text-decoration: underline;
}








/* Rides Page */

.add-button{
    height: 4rem;
    width: 30rem;
    background-color: #40B0DF;
    border: none;
    font-size: 1.7rem;
    color: #0067B3;
    border-radius: 6px;
    align-self: center;
    margin-top: 1rem;
    
}

.ride-container{
    background-color: white;
    margin: 2rem;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    text-align: center;
    font-family: 'Caveat', cursive;
    
    /* border: .3rem black solid; */
    
}

.ride-details{
    display: flex;
    flex-direction: column;
    /* gap: .5rem; */
    border-top:#40B0DF solid .2rem;
    border-right:#40B0DF solid .1rem;
    border-left:#40B0DF solid .1rem;
    /* border-bottom:#40B0DF solid .2rem; */
  
    
    
    padding: 3rem;
    /* border: .3rem blue solid; */
}

/* img{
    padding: .5rem;
} */

.header{
    background-image: url("https://seaworld.com/orlando/-/media/seaworld-orlando/images/rides/scope/1900x700-swo-mako-and-kraken-aerial.ashx?version=1_202008042749");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 40rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

}
.ride-title{
    margin: 5rem;
    color: white;
    font-size: 6rem;
    font-family: 'Caveat', cursive;
}

.ride-pictures{
    border-radius: 20px;
}
.ride-name{
    color: #0067B3;
    font-size: 4rem;
}
/* Itinerary Page */